---
layout: default
title: "Work"
date: 2014-02-22 02:10
comments: false
sharing: false
footer: true
keywords: dxta, work, project, github
description: All Work of Ta Minh Duc
---

%h1(style="padding-top: 54px")
  Work
%div.work-items
  %h2
    2012
  %p
  %section
    %span
      %a(href="https://github.com/DxTa/Wheel-Of-Fortune")
        @Wheel-Of-Fortune
    %h2
      Wheel Of Fortune (Windows Game) - DirectX, C++
  %h2
    2013
  %p
  %section
    %span
      %a(href="https://github.com/kienbd/snap")
        @Snap
    %h2
      Photo Sharing Social Network - Ruby on Rails, HTML5, jQuery, Ajax
  %h2
    2014
  %p
  %section
    %span
      %a(href="http://dxta.github.io")
        dxta.github.io
    %h2
      My Portfolio Website
  %section
    %span
      %a(href="#")
        Comming Soon
    %h2
      Some projects I'm currently working on
