---
layout: default
title: "index"
date: 2014-02-22 02:03
comments: false
sharing: false
footer: true
---

%h2
  About
%div#about
  %div.pic
    %img(src="https://uuzmjq.dm2304.livefilestore.com/y2pwDhzD3Xoq3seH3MxoPSbT9Hkz0osHOsMxw5FpUo3sNF0e3ItQnTMq_wfHJZvMNHlELUWzNAr3KvUspPHmkLYtcowqFgYuPwtGNXOVoRwjOY/IMG_0047.jpg?psid=1")
  %div.intro
    %h1.entry-title
      Hi there, I'm
      %span
        Minh Duc Ta
  %div.page-content(style="padding-top: 50px")
    %p
      My nickname is
      %span
        dxta
      \. I'm 22 years young developer. My major is back-end developing. I'm currently acting as an internship/researcher
      at High Performance Computing Center and graduating a Engineer of Computer Science at Hanoi University of Science and Technology.
    %p
      I’m a creative and enthusiastic developer and I love what I do. I’m passionate about new technology.
    %p
      During 3 years, I have worked with many different people on various projects and as a result, i have learned lots of experience in the IT field and generally - life.
      You can see all of my works
      %a(href="/work")
        here
      \. Currently, I am researching about building a Database as a Service solution in CloudStack.
    %p
      When I’m not busy coding or researching, I’m usually thinking about music, travelling, customizing motorcycle and bike, reading news, sporting, jogging with my dogs. I customized a stunning tracker motorcycles, i also have a beautiful fixed gear bicycle. I am currently planning a project for my next new motorcycle and bicycle.
    %h2
      CONTACT
    %p
      Email: ductm310@gmail.com
    %p
      Tel: +84 904 889 960
    %p
      Twitter: <a href="http://twitter.com/{{ site.twitter_user }}" >@{{ site.twitter_user }}</a>
    %p
      Github: <a href="https://github.com/{{site.github_user}}">@{{site.github_user}}</a>
    %p
      CV:
    %h2
      For one want to know me more
    %p
      Here are 21 random things about me:
    %ul(style="list-style-type: decimal; padding-left: 50px")
      %li
        Call me Duc
      %li
        I was born in hanoi
      %li
        I’m interested in parallel universe theory
      %li
        I have raised 3 dogs: Zace, Bean, Beto
      %li
        I know how to train dogs, how to take care of dogs, how to breed dogs.
      %li
        I’m 1m72
      %li
        I like to be a mechanic in my freetime.
      %li
        My first motor is Suzuki GN125, I customized it by myself.
      %li
        I know how to ride a fixed gear bicycle.
      %li
        I like to eat bread with nutella
      %li
        My favorite soccer team is Arsenal
      %li
        I’m ninja in googling :D
      %li
        I love Indoor sport, like billiard and table tennis.
      %li
        I drive a tracker motorcycle, sometimes i drive a fixed gear bicycle
      %li
        I ‘ve attempted to learn 2 different languages: english and japanese.
      %li
        I am angry when someone disturbing me while i am focusing something else.
      %li
        I love foods, i can eat every kind of foods in the world.
      %li
        I currently live in hanoi.
      %li
        I like traveling, hiking.
      %li
        I like watching cartoon movies.
      %li
        I love reading fiction novels.








